.DS_Store
build
*.pyobj
*.json
*.tkn
.git
*.egg-info
dist
output
data/coco
backup
weights/*.weights
__pycache__
checkpoints
*.pth
*.mp4
.ipynb_checkpoints/*
.ipynb_checkpoints
*.mp3
*.png
*.jpeg
*.jpg
darknet53.conv.74
logs/*
